body {
  margin: auto;
  width: 50%;
  padding: 1em;
  font-family: sans-serif;
}

.btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;
}

.radial-label {
}

.radial-list {
  /*display:inline;*/
  display:flex;
  list-style:none;
}
