body {
  margin: auto;
  /*width: 50%;*/
  font-family: sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url('./../imgs/logo.jpg');
  background-size: auto 200px;
}

.mask {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 10px;

  border: 3px solid #A00;

}

.container {
  margin: auto;
  position: relative;
  width: 90%;
  vertical-align: middle;
}

.col {
  float: left;
  width: 300px;
  height: 650px;
  margin: 1em;

  padding: 1em;
  border: 0.5px solid #ddd;

}

.color-board {
  height: 500px;
}

.radio-label {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.logo-label {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.radio-list {
  margin-bottom: 1em;
}

.logo-btn {
  margin-top: 1em;
  margin-bottom: 1em;
}

.devider {
  opacity: 0.6;
}

.rc-slider {
  margin-top: 1.5em;
}

.sketch-picker {
  margin-bottom: 2em;
}
